html {
    background-color: #3C0008;
    margin: 0; 
}

body {
    margin: 0;
    text-align: center;
}

.content {
    margin: 3%;
    padding: 10px;
    border: 5px solid darkgrey;
    color: dimgray;
    background-color: black;
}

#body_text {
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 30px;
    width: 60%;
    color: gray;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

footer { 
    display: inline-block;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: dimgray;
    color: black;
    position: relative;
}

h1 {
    font-size: 80px;
}

#quote {
    font-size: 30px;
    color: goldenrod;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

#tolls {
    font-size: 50px;
    color: maroon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
}

img {
    width: 30%;
}

.container {
    display: flex;
    justify-content: center;
    background-color: lightcoral;
    border: red;  
}

.box {
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    color:black;
    font-size: 35px;

    display: flex; /* Make each box a flex container */
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    text-align: center; /* Center the text */
}






