html {
    background-color: aliceblue;
    margin: 0; 
}

body {
    margin: 0;
    text-align: center;
}

.content {
    margin: 3%;
    padding: 10px;
    border: 5px solid black;
    background-color: floralwhite;
}

.sidebar {
    right: 0;
    height: 95%;
    position: fixed;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    border: 2px solid gray;
    background-color: darkkhaki;
    transition: 0.5s;

    width: 0px;
    overflow-x: hidden;
    z-index: 100;

    opacity: 100%;
}

.sidebar_button {
    right: 0;
    height: 100px;
    line-height: 100px;
    position: fixed;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    border: 2px solid gray;
    background-color: darkkhaki;
    transition: 0.5s;

    width: 25px;

    text-align: center;
    z-index: 99;
    cursor: pointer;
}

.number_input, .text_input {
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.number_input {
    width: 20%;
}

.text_input {
    width: 5%;
}

.correct_incorrect {
    width: 5%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 10px;
}

.submit_button {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.spoiler_box {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: 2px dotted black;
    padding: 10px;
}

.spoiler_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: springgreen;
}

footer {
    display: inline-block;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightgray;
    position: relative;
}

h1 {
    color: green;
}